[submodule "lib/ChibiOS"]
	path = lib/ChibiOS
	url = https://github.com/cvra/ChibiOS/
[submodule "lib/test-runner"]
	path = lib/test-runner
	url = https://github.com/cvra/test-runner
[submodule "lib/lwip/lwip"]
	path = lib/lwip/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "lib/nanopb/nanopb"]
	path = lib/nanopb/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "lib/msgbus"]
	path = lib/msgbus
	url = https://github.com/cvra/msgbus
[submodule "lib/parameter"]
	path = lib/parameter
	url = https://github.com/cvra/parameter
[submodule "lib/cmp_mem_access"]
	path = lib/cmp_mem_access
	url = https://github.com/cvra/cmp_mem_access
[submodule "lib/cmp"]
	path = lib/cmp
	url = https://github.com/cvra/cmp
[submodule "lib/parameter_flash_storage"]
	path = lib/parameter_flash_storage
	url = https://github.com/cvra/parameter_flash_storage
[submodule "lib/crc"]
	path = lib/crc
	url = https://github.com/cvra/crc
